{% extends 'ooh/base.html' %}
{% block content %}
<main class="cd-main-content">
    <div class="cd-tab-filter-wrapper">
        <div class="cd-tab-filter">
            <ul class="cd-filters">
                <li class="placeholder"> 
                    <a data-type="all" class="cd-a" href="#0">Alle Events</a> <!-- selected option on mobile -->
                </li> 
                <li class="filter"><a class="selected" href="#0" data-type="all">Alle Events</a></li>
                <li class="filter" data-filter=".heute"><a href="#0" class="cd-a" data-type="heute">Heute</a></li>
                <li class="filter" data-filter=".morgen"><a href="#0" class="cd-a" data-type="morgen">Morgen</a></li>
                <li class="filter" data-filter=".nächstesWochenende"><a href="#0" class="cd-a" data-type="nächstesWochenende">Nächstes Wochenende</a></li>
            </ul> <!-- cd-filters -->
        </div> <!-- cd-tab-filter -->
    </div> <!-- cd-tab-filter-wrapper -->

    <section class="cd-gallery">
        <ul>
            <li class="mix heute">
                <div class="container">	
                       
                    <!-- Start	Product details -->
                    <div class="product-details">
                            
                            <!-- 	Product Name -->
                        <div>
                                <h1>Bar</h1>
                                <!-- 		<span class="hint new">New</span> -->
                                <!-- 		<span class="hint free-shipping">Free Shipping</span> -->
                                <!-- 		the Product rating -->
                                <br>
                                <span class="hint-star star">
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </span>
                        </div>     
                                    
                                
                            <div>
        
                            </div>
                            <!-- The most important information about the product -->
                            <p class="information">Vollsuff am Wochenende und auch unter der Woche. Hier gibts leckere Shots.</p>
                            
                                    
                                    
                            <!-- 		Control -->
                            <div class="control">
                                
                                <!-- Start Button buying -->
                                <button class="btn">
                                <!-- 		the Price -->
                                <span class="shopping-cart"><i class="fa fa-bookmark"></i></span>
                                <!-- 		Buy Now / ADD to Cart-->
                                <span class="buy">Participate</span>
                                </button>
                                    <!-- End Button buying -->
                                
                            </div>
                                
                    </div>
                        
                    <!-- 	End	Product details   -->
                        
                    <div class="product-image">
                        
                        <img src="./img/filmriss.jpg" alt="Omar Dsoky">
                        
                    <!-- 	product Information-->
                        <div class="info">
                            <h4>The Description</h4>
                            <p>Street: Coblitzalle</p>
                            <p>Bla bla</p>
                            <ul>
                                <li>Sun Needs: Full Sun</li>
                                <li>Soil Needs: Damp</li>
                                <li>Zones: 9 - 11</li>
                                <li>Height: 2 - 3 feet</li>
                                <li>Blooms in: Mid‑Summer - Mid‑Fall</li>
                                <li>Features: Tolerates heat</li>
                            </ul>
                        </div>
                    </div>
                        
                    <!-- 	Start product image & Information -->
                        
                    
                    <!--  End product image  -->
                    
                    
                </div>
            </li>
            
            <li class="mix morgen">
                <div class="container">	

                    <!-- Start	Product details -->
                    <div class="product-details">
                            
                            <!-- 	Product Name -->
                   <div>
                        <h1>Restaurant</h1>
                        <!-- 		<span class="hint new">New</span> -->
                        <!-- 		<span class="hint free-shipping">Free Shipping</span> -->
                        <!-- 		the Product rating -->
                        <br>
                        <span class="hint-star star">
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </span>
                   </div>     
                            
                        
                    <div>

                    </div>
                    <!-- The most important information about the product -->
                    <p class="information">Vollsuff am Wochenende und auch unter der Woche. Hier gibts leckere Shots.</p>
                    
                            
                            
                    <!-- 		Control -->
                    <div class="control">
                        
                    <!-- Start Button buying -->
                    <button class="btn">
                    <!-- 		the Price -->
                       <span class="shopping-cart"><i class="fa fa-bookmark"></i></span>
                    <!-- 		Buy Now / ADD to Cart-->
                       <span class="buy">Participate</span>
                     </button>
                        <!-- End Button buying -->
                        
                    </div>
                                
                    </div>
                        
                    <!-- 	End	Product details   -->
                        
                        
                        
                    <!-- 	Start product image & Information -->
                        
                    <div class="product-image">
                        
                        <img src="./img/filmriss.jpg" alt="Omar Dsoky">
                        
                    <!-- 	product Information-->
                        <div class="info">
                            <h4>The Description</h4>
                            <p>Street: Coblitzalle</p>
                            <p>Bla bla</p>
                            <ul>
                                <li>Sun Needs: Full Sun</li>
                                <li>Soil Needs: Damp</li>
                                <li>Zones: 9 - 11</li>
                                <li>Height: 2 - 3 feet</li>
                                <li>Blooms in: Mid‑Summer - Mid‑Fall</li>
                                <li>Features: Tolerates heat</li>
                            </ul>
                        </div>
                    </div>
                    <!--  End product image  -->
                    
                    
                </div>
            </li>
            
            <li class="mix nächstesWochenende">
                <div class=" container">	

                    <!-- Start	Product details -->
                    <div class="product-details">
                            
                            <!-- 	Product Name -->
                   <div>
                        <h1>Club</h1>
                        <!-- 		<span class="hint new">New</span> -->
                        <!-- 		<span class="hint free-shipping">Free Shipping</span> -->
                        <!-- 		the Product rating -->
                        <br>
                        <span class="hint-star star">
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </span>
                   </div>     
                            
                        
                    <div>

                    </div>
                    <!-- The most important information about the product -->
                    <p class="information">Vollsuff am Wochenende und auch unter der Woche. Hier gibts leckere Shots.</p>
                    
                            
                            
                    <!-- 		Control -->
                    <div class="control">
                        
                    <!-- Start Button buying -->
                    <button class="btn">
                    <!-- 		the Price -->
                       <span class="shopping-cart"><i class="fa fa-bookmark"></i></span>
                    <!-- 		Buy Now / ADD to Cart-->
                       <span class="buy">Participate</span>
                     </button>
                        <!-- End Button buying -->
                        
                    </div>
                                
                    </div>
                        
                    <!-- 	End	Product details   -->
                        
                        
                        
                    <!-- 	Start product image & Information -->
                        
                    <div class="product-image">
                        
                        <img src="./img/filmriss.jpg" alt="Omar Dsoky">
                        
                    <!-- 	product Information-->
                        <div class="info">
                            <h4>The Description</h4>
                            <p>Street: Coblitzalle</p>
                            <p>Bla bla</p>
                            <ul>
                                <li>Sun Needs: Full Sun</li>
                                <li>Soil Needs: Damp</li>
                                <li>Zones: 9 - 11</li>
                                <li>Height: 2 - 3 feet</li>
                                <li>Blooms in: Mid‑Summer - Mid‑Fall</li>
                                <li>Features: Tolerates heat</li>
                            </ul>
                        </div>
                    </div>
                    <!--  End product image  -->
                    
                    
                </div>
            </li>
            
            <li class="mix nächstesWochenende">
                <div class="container">	

                    <!-- Start	Product details -->
                    <div class="product-details">
                            
                            <!-- 	Product Name -->
                   <div>
                        <h1>Club 2</h1>
                        <!-- 		<span class="hint new">New</span> -->
                        <!-- 		<span class="hint free-shipping">Free Shipping</span> -->
                        <!-- 		the Product rating -->
                        <br>
                        <span class="hint-star star">
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </span>
                   </div>     
                            
                        
                    <div>

                    </div>
                    <!-- The most important information about the product -->
                    <p class="information">Vollsuff am Wochenende und auch unter der Woche. Hier gibts leckere Shots.</p>
                    
                            
                            
                    <!-- 		Control -->
                    <div class="control">
                        
                    <!-- Start Button buying -->
                    <button class="btn">
                    <!-- 		the Price -->
                       <span class="shopping-cart"><i class="fa fa-bookmark"></i></span>
                    <!-- 		Buy Now / ADD to Cart-->
                       <span class="buy">Participate</span>
                     </button>
                        <!-- End Button buying -->
                        
                    </div>
                                
                    </div>
                        
                    <!-- 	End	Product details   -->
                        
                        
                        
                    <!-- 	Start product image & Information -->
                        
                    <div class="product-image">
                        
                        <img src="./img/filmriss.jpg" alt="Omar Dsoky">
                        
                    <!-- 	product Information-->
                        <div class="info">
                            <h4>The Description</h4>
                            <p>Street: Coblitzalle</p>
                            <p>Bla bla</p>
                            <ul>
                                <li>Sun Needs: Full Sun</li>
                                <li>Soil Needs: Damp</li>
                                <li>Zones: 9 - 11</li>
                                <li>Height: 2 - 3 feet</li>
                                <li>Blooms in: Mid‑Summer - Mid‑Fall</li>
                                <li>Features: Tolerates heat</li>
                            </ul>
                        </div>
                    </div>
                    <!--  End product image  -->
                    
                    
                </div>
            </li>
            
            <!-- <div class="event-container">
                <div>
                    <img class="event-img" src="./img/ryan.png" alt="">
                </div>
                <div class="event-information">
                    <div class="event-header">
                        <h3>Überschrift</h3>
                    </div>
                    <div class="event-rating">
                        <div>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <div>
                            <p class="event-rating-count">(25)</p>
                        </div>
                    </div>
                    <div class="event-description">
                        Beschreibung
                    </div>
                </div>
                <div class="event-distance">
                    <i class="fas fa-map-marker-alt"></i>
                    <p>Entfernung</p>
                </div>
            </div> -->
        
        </ul>
        <div class="cd-fail-message">No results found</div>
    </section> <!-- cd-gallery -->

    <div class="cd-filter">
        <form>
            <div class="cd-filter-block">
                <h4>Search</h4>
                
                <div class="cd-filter-content">
                    <input type="search" placeholder="Try color-1...">
                </div> <!-- cd-filter-content -->
            </div> <!-- cd-filter-block -->

            <div class="cd-filter-block">
                <h4>Check boxes</h4>

                <ul class="cd-filter-content cd-filters list">
                    <li>
                        <input class="filter" data-filter=".check1" type="checkbox" id="checkbox1">
                        <label class="checkbox-label" for="checkbox1">Option 1</label>
                    </li>

                    <li>
                        <input class="filter" data-filter=".check2" type="checkbox" id="checkbox2">
                        <label class="checkbox-label" for="checkbox2">Option 2</label>
                    </li>

                    <li>
                        <input class="filter" data-filter=".check3" type="checkbox" id="checkbox3">
                        <label class="checkbox-label" for="checkbox3">Option 3</label>
                    </li>
                </ul> <!-- cd-filter-content -->
            </div> <!-- cd-filter-block -->

            <div class="cd-filter-block">
                <h4>Select</h4>
                
                <div class="cd-filter-content">
                    <div class="cd-select cd-filters">
                        <select class="filter" name="selectThis" id="selectThis">
                            <option value="">Choose an option</option>
                            <option value=".option1">Option 1</option>
                            <option value=".option2">Option 2</option>
                            <option value=".option3">Option 3</option>
                            <option value=".option4">Option 4</option>
                        </select>
                    </div> <!-- cd-select -->
                </div> <!-- cd-filter-content -->
            </div> <!-- cd-filter-block -->

            <div class="cd-filter-block">
                <h4>Radio buttons</h4>

                <ul class="cd-filter-content cd-filters list">
                    <li>
                        <input class="filter" data-filter="" type="radio" name="radioButton" id="radio1" checked>
                        <label class="radio-label" for="radio1">All</label>
                    </li>

                    <li>
                        <input class="filter" data-filter=".radio2" type="radio" name="radioButton" id="radio2">
                        <label class="radio-label" for="radio2">Choice 2</label>
                    </li>

                    <li>
                        <input class="filter" data-filter=".radio3" type="radio" name="radioButton" id="radio3">
                        <label class="radio-label" for="radio3">Choice 3</label>
                    </li>
                </ul> <!-- cd-filter-content -->
            </div> <!-- cd-filter-block -->
        </form>

        <a href="#0" class="cd-close cd-a">Close</a>
    </div> <!-- cd-filter -->

    <a href="#0" class="cd-filter-trigger cd-a">Filters</a>
</main> <!-- cd-main-content -->


<!-- <div id="googleMap" style="width:100%;height:400px;"></div> -->
{%endblock%}