{% load static %}
{% for ev in recommended_events %}
            <li class="mix {{ ev.timecheck }} {{ev.eventTemplate.getCategories}} {{ev.eventTemplate.eventLocation.getCategories}} ">
                <div class="container">	
                    <!-- Start	Product details -->
                    <div class="product-details">
                            <div class="product-details-head" >
                                <div> <h1>{{ev.eventTemplate.name}}</h1></div>
                                <div> <h3>{{ev.eventTemplate.eventLocation}}</h3></div>
                                <div> <span class="hint-star star">
                                        <i class="fa fa-star {% if ev.eventTemplate.calculatedratings.0 > 0.5 %} checked {%endif%}"></i>
                                        <i class="fa fa-star {% if ev.eventTemplate.calculatedratings.0 >= 1.5 %} checked {%endif%}"></i>
                                        <i class="fa fa-star {% if ev.eventTemplate.calculatedratings.0 >= 2.5 %} checked {%endif%}"></i>
                                        <i class="fa fa-star {% if ev.eventTemplate.calculatedratings.0 >= 3.5 %} checked {%endif%}"></i>
                                        <i class="fa fa-star {% if ev.eventTemplate.calculatedratings.0 >= 4.5 %} checked {%endif%}"></i>
                                        <i>({{ev.eventTemplate.calculatedratings.1}})</i>
                                </span></div>

                        </div>     

                        <div></div>
                        <!-- The most important information about the product -->
                        {#Das steht in der Desktop view links#}
                        {#//TODO Zeichenbeschränkung checken!#}
                        <!-- <p class="information">{{ev.starttime|date:"d.m.Y H:i"}}</p> -->
                        <p class="information">{{ev.eventTemplate.description|truncatechars:100}}</p>

                            <!-- 		Control -->
                        <div class="control">
                            <!-- Start Button buying -->
                            {%if ev.id in participating %}
                            <button class="btn disabled" disabled>
                                <!--the Price -->
                                <span data-id="{{ev.id}}" class="shopping-cart bookmarkbtn"><i class="fa fa-bookmark"></i></span>
                                <span id="participatebtn_{{ev.id}}" data-id="{{ev.id}}" class="participatebtnjs disabled">Participating</span>
                                <!--Buy Now / ADD to Cart-->
                            </button>    
                            {%else%}
                            <button class="btn">
                                <!--the Price -->
                                <span data-id="{{ev.id}}" class="shopping-cart bookmarkbtn"><i class="fa fa-bookmark"></i></span>
                                <span id="participatebtn_{{ev.id}}" data-id="{{ev.id}}" class="buy participatebtn participatebtnjs">Participate</span>
                                <!--Buy Now / ADD to Cart-->
                            </button>                                    
                            {%endif%}
                            </button>
                            <!-- End Button buying -->        
                        </div>    
                    </div> <!-- Ende Product details -->
                        
                    <div class="product-image"> 
                        {% if ev.eventTemplate.picture %}
                            <img src="{{ ev.eventTemplate.picture.url }}" alt="Omar Dsoky">
                        {% elif ev.eventTemplate.eventLocation.picture %}    
                            <img src="{{ ev.eventTemplate.eventLocation.picture.url }}" alt="Omar Dsoky">
                        {% else %}
                            <img src="{% static 'ooh/img/locations/dummy.jpg' %}" alt="Omar Dsoky">
                        {% endif %}
                        <!-- 	product Information seen when hovering over picture-->
                        <div class="info">
                            <h4>Wo?</h4>
                            <p>{{ev.eventTemplate.eventLocation}}<br/>
                            Straße: {{ev.eventTemplate.eventLocation.street}} {{ev.eventTemplate.eventLocation.housenumber}}<br/>
                            {{ev.eventTemplate.eventLocation.location}}</p>
                            <h4>Wann?</h4>
                            <p>{{ev.starttime|date:"d.m.Y H:i"}}</p>
                        </div>
                    </div> <!-- End Product image -->
                </div> <!-- End Container -->
            </li> <!-- Single List item end -->
            {% empty %}
                <p>Bitte warte bis wir unser Angebot auf deine Umgebung ausgeweitet haben. Gerne kannst du uns einen Vorschlag für deine Gegend machen!</p>
            {% endfor %}