{% extends 'ooh/base.html' %}
{% load static %}


{% block content %}

<div class="qu-container">
    <div class="qu-box">
        <h3>Question 1?</h3>
        <div class="radio-buttons">
            <label class="custom-radio">
                <input type="radio" name="radio" checked />
                <span class="radio-btn">
                    <i class="fas fa-check"></i>
                    <div class="hobbies-icon">
                        <i class="fas fa-beer"></i>
                        <h4>Bar</h4>
                    </div>
                </span>
            </label>
            <label class="custom-radio">
                <input type="radio" name="radio" />
                <span class="radio-btn">
                    <i class="fas fa-check"></i>
                    <div class="hobbies-icon">
                        <i class="fa fa-utensils"></i>
                        <h4>Restaurant</h4>
                    </div>
                </span>
            </label>
            <label class="custom-radio">
                <input type="radio" name="radio" />
                <span class="radio-btn">
                    <i class="fa fa-check"></i>
                    <div class="hobbies-icon">
                        <i class="fa fa-glass-cheers"></i>
                        <h4>Club</h4>
                    </div>
                </span>
            </label>
            <label class="custom-radio">
                <input type="radio" name="radio" />
                <span class="radio-btn">
                    <i class="fa fa-check"></i>
                    <div class="hobbies-icon">
                        <i class="fas fa-ellipsis-h"></i>
                        <h4>Other</h4>
                    </div>
                </span>
            </label>
        </div>
        <div class="progress-container">
            <div id="progress-main">
                <!-- <p id="progress-content"  class="text-center">Step Number 1</p> -->
                <div class="">
                    <button class="progress-button" id="previousBtn" ><span>Previous</span></button>
                </div>
                <div>
                    <button class="progress-button" id="nextBtn"><span>Next</span></button>
                </div>
                <div>
                    <button class="finish-button" id="finishBtn">Finish</button>
                </div>
            </div>
            <div id="stepProgressBar">
                <div class="step">
                    <p class="step-text">About</p>
                    <div class="bullet"></div>
                </div>
                <div class="step">
                    <p class="step-text">Contact</p>
                    <div class="bullet"></div>
                </div>
                <div class="step">
                    <p class="step-text">Step 3</p>
                    <div class="bullet"></div>
                </div>
                <div class="step">
                    <p class="step-text">Step 4</p>
                    <div class="bullet "></div>
                </div>
            </div>
        </div>
    </div>
        <!-- <div class="qu-answers-box">
            <div class="qu-answers">
                <p>
                    <input type="radio" name="question1" id="">
                    Bier
                </p>
                <p>
                    <input type="radio" name="question1" id="">
                    Schnitzel
                </p>
                <p>
                    <input type="radio" name="question1" id="">
                    Pommes
                </p>
            </div>
        </div> -->
        
    <!-- </div> -->
    
</div>

<script type="text/javascript">  
    $(document).ready(function(){
        const  previousBtn  =  document.getElementById('previousBtn');
        const  nextBtn  =  document.getElementById('nextBtn');
        const  finishBtn  =  document.getElementById('finishBtn');
        const  content  =  document.getElementById('progress-content');
        const  bullets  =  [...document.querySelectorAll('.bullet')];

        const MAX_STEPS = 4;
        let currentStep = 1;

        nextBtn.addEventListener('click',  ()  =>  {
            bullets[currentStep  -  1].classList.add('completed');
            currentStep  +=  1;
            previousBtn.disabled  =  false;
            if  (currentStep  ===  MAX_STEPS)  {
                finishBtn.style.cursor = "pointer";
                finishBtn.style.border = "2px solid #ff6a00";
                finishBtn.style.color = "#ff6a00";
                nextBtn.disabled  =  true;
                finishBtn.disabled  =  false;
            }
        });


        previousBtn.addEventListener('click',  ()  =>  {
            bullets[currentStep  -  2].classList.remove('completed');
            currentStep  -=  1;
            nextBtn.disabled  =  false;
            finishBtn.disabled  =  true;
            if  (currentStep  ===  1)  {
                previousBtn.disabled  =  true;
            }
            if(currentStep != MAX_STEPS){
                finishBtn.style.border = "2px solid #929292";
                finishBtn.style.color = "#929292";
                finishBtn.style.cursor = "";
            }
        });

        finishBtn.addEventListener('click',  ()  =>  {
            if  (currentStep  ===  MAX_STEPS)  {
                finishBtn.classList.add('finish-active');
                // $(this).addClass("finish-active");

                setTimeout(function(){
                    finishBtn.classList.add('finish-success');
                    // $(".finish-button").addClass("finish-success")
                }, 3000);

                setTimeout(function(){
                    finishBtn.classList.remove('finish-active');
                    // $(".finish-button").removeClass("finish-active");
                    finishBtn.classList.remove('finish-success');
                    // $(".finish-button").removeClass("finish-success");
                }, 5000);
                
                // location.reload();   
            }
        });
    });
</script>

{% endblock %}