{% extends 'ooh/base.html' %}
{% load static %}



{% block content %}
<div class="container-Nl">

    <form id="newsletter" action="#">
      <h3>Join Our Newsletter</h3>
      <p>Mit unserem Newsletter erhalten Sie einzigartige Angebote! Außerdem werden Sie als erstes über die neuesten Modelle informiert. Abonnieren Sie jetzt unseren Newsletter.</p>
      <div class="text-boxNl">
        <i class="fa fa-envelope"></i>
        
        <input class="tboxNl required email ed" name="email" placeholder="Enter your email">
        <button id="Nsubmit" class="btnNl" type="button" name="button">Subscribe</button>
    </div>
  </form>

  <script type="text/javascript">
        
       //coming soon...
        
    </script>

</div>

{% endblock %}