{% extends 'ooh/base.html' %}
{% load static %}

{% block content %}
<div id=content>
    <div class="user-container-background">
        <div class="user-container">
            <div class="profile-header">
                <div class="profile-img">
                    <img src="{% static 'ooh/img/avatar.png'%}" width="200" alt="">
                </div>
                <div class="profile-nav-info">
                    <h4 class="user-name">
                        {{ user.firstname }} {{ user.lastname }} 
                    </h4>
                    <div class="address">
                        {% if user.location %}
                        <p class="state">{{ user.street}} {{user.housenumber}}</p>
                        <span class="country">, {{ user.location }} </span> 
                        {%endif%}
                    </div>
    
                </div>
                <div class="profile-option">
                    <div class="notification">
                        <i class="fa fa-bell"></i>
                        <span class="alert-message">1</span>
    
                    </div>
                </div>
            </div>
            <div class="main-bd">
                <div class="left-side">
                    <div class="profile-side">
                        <p class="mobile-number">
                            <i class="fa fa-phone"></i>
                            123456789
                        </p>
                        <p class="user-mail">
                            <i class="fa fa-envelope"></i>
                            {{ user.email }}
                        </p>
                        {% if user.is_staff or user.is_superuser %}
                        <p class="user-status">
                            <i class="fa fa-id-card-o" ></i>
                            {% if user.is_superuser  %}
                            Admin
                            {% elif user.is_staff %}
                            Mitarbeiter von ooh
                            {% elif user.admin %}
                            Moderator
                            {% else %}
                            Benutzer
                            {% endif %}
                        </p>
                        {% endif %}
                        <div class="user-bio">
                            <h4>Bio</h4>
                            <p class="bio" id="bio">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi nostrum vero quaerat corrupti, consequuntur iste, odit, expedita sequi architecto esse fugiat magnam officiis molestiae totam libero ratione voluptate maxime. Nulla.
                            </p>
                        </div>
                        <div class="profile-btn">
                            <input class="modal-btn" type="checkbox" id="modal-btn" name="modal-btn"/>
                            <label for="modal-btn">Create a new Event<i class="uil uil-expand-arrows"></i></label>      
                            <div class="modal">     
                                <div class="modal-wrap">
                                
                                    <div class="title">Add New Event</div>
                                    <div class="content">
                                        <form action="{% url 'ooh:addevent' %}" id="form-add-Event" method=POST>
                                        {% csrf_token %}
                                        <h1 style="margin-top: 1%;">Ortsangabe</h1>
                                        <div class="user-details">
                                            <div class="input-box">
                                                <span class="details">Event Location</span>
                                                <input type="text" name="locationName" placeholder="Location Name" required>
                                            </div>
                                            <div class="input-box">
                                                <span class="details">Locationart</span>
                                                <select id="location" name="locationType">
                                                    <option value="" disabled selected hidden name="">Bitte wählen</option>
                                                    <option value="Bar">Bar</option>
                                                    <option value="Restaurant">Restaurant</option>
                                                    <option value="Club">Club</option>
                                                </select>
                                            </div>
                                            <div class="input-box">
                                                <span class="details">PLZ</span>
                                                <input type="text" placeholder="PLZ" name="plz" required>
                                            </div>
                                            <div class="input-box">
                                                <span class="details">Ortsname</span>
                                                <input type="text" name="cityname" placeholder="Ortsname" required>
                                            </div>
                                            <div class="input-box">
                                                <span class="details">Straße und Hausnummer</span>
                                                <input type="text" placeholder="Straße und Hausnummer" name="street" required>
                                            </div>
                                            <div class="input-box">
                                                <span class="details">Raum</span>
                                                <input type="text" name="room" placeholder="Enter your email">
                                            </div>
                                        </div>
                                        <h1>Eventdetails</h1>
                                        <div class="user-details">
                                            
                                            <div class="input-box">
                                                <span class="details">Event Name</span>
                                                <input type="text" placeholder="Event Name" name="eventName" required>
                                            </div>
                                            <div class="input-box">
                                                <span class="details">Alter</span>
                                                <select id="age-cat" name="age">
                                                    <option value="0" disabled selected hidden>Bitte wählen</option>
                                                    <option value="0">&#060; 18</option>
                                                    <option value="18">&#062;= 18</option>
                                                </select>
                                            </div>
                                            <div class="input-box">
                                                <span class="details">Preiskategorie</span>
                                                <select id="price-cat" name="price">
                                                    <option value="0" disabled selected hidden>Bitte wählen</option>
                                                    <option value="1">Cheap</option>
                                                    <option value="3">Expensive</option>
                                                </select>
                                            </div>
                                            
                                            <div class="input-box" id="special-Type">
                                                <span class="details" id="special-Type-Descr"></span>
                                                <select id="special-Type-Values" name="specialcategory">
                                                
                                                </select>
                                            </div>
                                            <div class="input-box">
                                                <span class="details">Bild</span>
                                                <input type="file" accept="image/*" class="inputfile" required name="picture"  id="file">
                                                <label for="file">Bild auswählen</label>
                                            </div>
 
                                            <div class="input-box">
                                                <span class="details">Event Description</span>
                                                <textarea name="desciption" id="" cols="40" rows="5"></textarea>
                                            </div>

                                            <div class="input-box">
                                                <span class="details">Startzeitpunkt</span>
                                                <input type="datetime-local" name="start" id="start" />
                                            </div>
                                            <div class="input-box">
                                                <span class="details">Endzeitpunkt</span>
                                                <input type="datetime-local" name="endtime" id="endtime" />
                                            </div>
                                            <div class="input-box">
                                                <span class="details">Intervall in Tagen</span>
                                                <input type="number" name="intervalInDays" id="intervalInDays" />
                                            </div>
                                        </div>
                                       
                                        <div class="smoking-details">
                                            <input type="radio" name="smoking" id="dot-1" value="nosmoking">
                                            <input type="radio" name="smoking" id="dot-2" value="innersmoking">
                                            <input type="radio" name="smoking" id="dot-3" value="outersmoking">
                                            <span class="smoking-title">Raucher</span>
                                            <div class="category">
                                                <label for="dot-1">
                                                    <span class="dot one"></span>
                                                    <span class="smoking">Nicht-Raucher</span>
                                                </label>
                                                <label for="dot-2">
                                                    <span class="dot two"></span>
                                                    <span class="smoking">Rauchen</span>
                                                </label>
                                                <label for="dot-3">
                                                    <span class="dot three"></span>
                                                    <span class="smoking">Außenbereich</span>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="input-box">
                                            <span class="details">Sonstige Tags, durch Komma separieren</span>
                                            <textarea name="categories"  cols="90" rows="1"></textarea>
                                            <!-- <input type="text" placeholder="Enter the event name" required> -->
                                        </div>

                                        <div class="button-add-Event">
                                            <input type="submit" value="Add">
                                        </div>
                                        </form>
                                    </div>
                                    
                                    
                                </div>                          
                            </div>
                        </div>
                        <div class="user-rating">
                            <h4 class="rating">4.5</h4>
                            <div class="rate">
                                <div class="stars">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <span class="no-user"><span>123</span>&nbsp;&nbsp;reviews</span>
                            </div>
                        </div>
                        
                        <div class="logout">
                            <form action="{% url 'ooh:logout' %}" method="get">
                                {% csrf_token %}
                                <input id="logout" class="logout-btn" type="submit" value="Abmelden" />
                            </form>
                            
                        </div>
                    </div>
                </div>
               <div class="right-side">
                   <div class="nav-right">
                       <ul>
                           <li onclick="tabs(0)" class="user-post active" style="margin-bottom: 0em;  list-style-type: none;">Fragen</li>
                           <li onclick="tabs(1)" class="user-review" style="margin-bottom: 0em;list-style-type: none;">Reviews</li>
                           <li onclick="tabs(2)" class="user-setting" style="margin-bottom: 0em;list-style-type: none;">Settings</li>
                       </ul>
                   </div>
                   <div class="profile-body">
                       <div class="profile-posts tab">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore vero, accusamus iste impedit delectus sequi unde nostrum porro, dicta illum libero architecto quos neque esse provident. Assumenda a inventore voluptas!</p>    
                        
                       </div>
                       <div class="profile-review tab">
                           <h4>User Review</h4>
                           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus earum illo, maxime, magnam commodi temporibus consectetur soluta incidunt quas sequi repudiandae reprehenderit iusto recusandae officiis itaque nobis. Eum, ut ex.</p>
                        </div>
                        <div class="profile-setting tab">
                            <h4>Account Settings</h4>
                            <h3>Profil vervollständigen</h3>
                            {% if user.location  %}
                            {#//TODO das ganze sollte über ein ausklappbares menü dargestellt werden, damit es nicht so wirkt, als müsste es ausgefüllt werden#}
                            <form method=post action=".">
                                {% csrf_token %}
                                
                                <input name=data value="chgloc" type="hidden"/>
                                <input name=plz id=plz placeholder="Postleitzahl" value="{{ user.location.plz }}" />
                                <input name=cityname id=cityname placeholder="Stadtname" value="{{ user.location.cityname }}"/><br/>
                                <input name=street id=street placeholder="Straße" value="{{ user.street }}">
                                <input name=housenumber id=housenumber placeholder="Hausnr" value="{{ user.housenumber }}"><br/>
                                <input id="allowedit" name="allowedit"  type="checkbox" required />
                                <label for="allowedit">Wirklich ändern?</label>
                                <input type=submit value="Addresse ändern">
                            </form>
                            {% else %}
                            <form method=post action=".">
                                {% csrf_token %}
                                <input name=data value="addloc" type="hidden"/>
                                <input name=plz id=plz  placeholder="Postleitzahl">
                                <!-- Stadtname sollte automatisch auf Basis der PLZ gesetzt werden-->
                                <input name=cityname id=cityname placeholder="Stadtname"><br/>
                                <input name=street id=street placeholder="Straße" value="" >
                                <input name=housenumber id=housenumber placeholder="Hausnr"><br/>
                                <input type=submit value="Addresse hinzufügen">
                            </form>
                            {%endif%}
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, quia sunt explicabo eveniet quod soluta nam nostrum ut tempore! Veritatis itaque repudiandae harum ex facilis. Doloribus ipsam a dolore unde!</p>
                        </div>
                   </div>
               </div> 
            </div>
        </div>
    </div>
</div> <!-- #content -->


<script>
    
const locationType = $('#location');
    const specialType = $('#special-Type');
    const specialTypeDescr = $('#special-Type-Descr');
    const specialTypeValues = $('#special-Type-Values');
 
    specialType.hide();
 
    locationType.change(function(){
        if (($(this).val() == "Bar") || ($(this).val() == "Club")) { 
            specialType.show();
            specialTypeDescr.text("Music Genre");
            specialTypeValues.empty();
            specialTypeValues.append($('<option>').val('Option').text('Choose an option'));
            specialTypeValues.append($('<option>').val('Techno').text('Techno'));
            specialTypeValues.append($('<option>').val('Pop').text('Pop'));
            specialTypeValues.append($('<option>').val('Rock').text('Rock'));
            specialTypeValues.append($('<option>').val('Hip-Hop').text('Hip-Hop'));
        }else if($(this).val() == "Restaurant"){
            specialType.show();
            specialTypeDescr.text("Restaurant type");
            specialTypeValues.empty();
            specialTypeValues.append($('<option>').val('Option').text('Choose an option'));
            specialTypeValues.append($('<option>').val('American').text('American'));
            specialTypeValues.append($('<option>').val('European').text('European'));
            specialTypeValues.append($('<option>').val('Asian').text('Asian'));
            specialTypeValues.append($('<option>').val('African').text('African'));
        }
    });
   
    document.addEventListener("DOMContentLoaded", function(event) { 
 
    let single = "Datei Ausgewählt";
    let multiple = "Datein Ausgewält";
 
    fileUploadStyling(single,multiple);
 
    })
 
    /* Die Funktion */
 
    function fileUploadStyling(single,multiple){
        let input = document.querySelectorAll("input[type=file]");
        for (let i = 0; i < input.length; i++) {
            var inputFile = input[i];
            inputFile.addEventListener('change',function(e){
 
                var label = this.nextElementSibling;
 
                if(this.files && this.files.length > 1){
                    label.innerHTML = this.files.length + ' ' + multiple;
                }else{
                    label.innerHTML = this.files[0].name + ' ' + single;
                }
            });
        }
    } 
 

    $('.nav-right ul li').click(function(){
        $(this).addClass("active").siblings().removeClass('active');
        })


        const tabBtn = document.querySelectorAll('.nav-right ul li');
        const tab = document.querySelectorAll('.tab');

        function tabs(panelIndex){
            tab.forEach(function(node){
                node.style.display = 'none';
            });
            tab[panelIndex].style.display = 'block';
        }
        tabs(0);

        let bio = document.querySelector('.bio');
        let bioOld = bio.innerText;

        function bioText(){
            bio.innerText = bio.innerText.substring(0, 100) + "...";
            bio.innerHTML += "&nbsp;" + "<span onclick='addLength()' id='see-more-bio'> [See More]</span>";
        }
        bioText();

        function addLength(){
            bio.innerHTML = bioOld;
            bio.innerHTML += "&nbsp;" + "<span onclick='bioText()' id='see-less-bio'> [See Less]</span>";
        }
</script>

{%endblock%}    