{% extends 'ooh/base.html' %}
{% load static %}

{% block content %}
<div id=content>
    <div class="user-container-background">
        <div class="user-container">
            <div class="profile-header">
                <div class="profile-img">
                    {% if user.picture %}
                    <img src="{{ user.picture.url }}" width="200" alt="">
                    {%else%}
                    <img src="{% static 'ooh/img/avatar.png'%}" width="200" alt="">
                    {%endif%}
                </div>
                <div class="profile-nav-info">
                    <h4 class="user-name">
                        {{ user.firstname }} {{ user.lastname }} 
                    </h4>
                    <div class="address">
                        {% if user.location %}
                        <p class="state">{{ user.street}} {{user.housenumber}}</p>
                        <span class="country">, {{ user.location }} </span> 
                        {%endif%}
                    </div>
    
                </div>
                <!-- <div class="profile-option">
                    <div class="notification">
                        <i class="fa fa-bell"></i>
                        < !-- <span class="alert-message">1</span> -- >
                    </div>
                </div> -->
            </div>
            <div class="main-bd">
                <div class="left-side">
                    <div class="profile-side">
                        <!-- <p class="mobile-number">
                            <i class="fa fa-phone"></i>
                            123456789
                        </p> -->
                        <p class="user-mail">
                            <i class="fa fa-envelope"></i>
                            {{ user.email }}
                        </p>
                        {% if user.is_staff or user.is_superuser %}
                        <p class="user-status">
                            <i class="far fa-id-card"></i>
                            {% if user.is_superuser  %}
                            Admin
                            {% elif user.is_staff %}
                            Mitarbeiter von ooh
                            {% elif user.admin %}
                            Moderator
                            {% else %}
                            Benutzer
                            {% endif %}
                        </p>
                        {% endif %}
                        <div class="user-bio">
                            <h4>Beschreibung</h4>
                            <p class="bio" id="bio">
                                Hier kannst du deine ausgewählten Fragen einsehen. Zusätzlich kannst du unter dem Reiter "Reviews" deine gegebenen Bewertungen einsehen. Zuletzt kannst du deine Settings anpassen.
                            </p>
                        </div>
                        <div class="profile-btn">
                            <input class="modal-btn" type="checkbox" id="modal-btn" name="modal-btn"/>
                            <label for="modal-btn">Event hinzufügen <i class="uil uil-expand-arrows"></i></label>      
                            <div class="modal">     
                                <div class="modal-wrap">
                                
                                    <div class="title">Neues Event hinzufügen</div>
                                    <div class="content">
                                        <form action="{% url 'ooh:addevent' %}" id="form-add-Event" method=POST>
                                        {% csrf_token %}
                                        <h1 style="margin-top: 1%;">Ortsangabe</h1>
                                        <div class="user-details">
                                            <div class="input-box">
                                                <span class="details">Event Location</span>
                                                <input type="text" name="locationName" placeholder="Location Name" required>
                                            </div>
                                            <div class="input-box">
                                                <span class="details">Locationart</span>
                                                <select id="location" name="locationType">
                                                    <option value="" disabled selected hidden name="">Bitte wählen</option>
                                                    <option value="bar">Bar</option>
                                                    <option value="restaurant">Restaurant</option>
                                                    <option value="club">Club</option>
                                                </select>
                                            </div>
                                            <div class="input-box">
                                                <span class="details">PLZ</span>
                                                <input type="text" placeholder="PLZ" name="plz" required>
                                            </div>
                                            <div class="input-box">
                                                <span class="details">Ortsname</span>
                                                <input type="text" name="cityname" placeholder="Ortsname" required>
                                            </div>
                                            <div class="input-box">
                                                <span class="details">Straße und Hausnummer</span>
                                                <input type="text" placeholder="Straße und Hausnummer" name="street" required>
                                            </div>
                                            <div class="input-box">
                                                <span class="details">Raum</span>
                                                <input type="text" name="room" placeholder="Raumnummer">
                                            </div>
                                        </div>
                                        <h1>Eventdetails</h1>
                                        <div class="user-details">
                                            
                                            <div class="input-box">
                                                <span class="details">Event Name</span>
                                                <input type="text" placeholder="Event Name" name="eventName" required>
                                            </div>
                                            <div class="input-box">
                                                <span class="details">Alter</span>
                                                <select id="age-cat" name="age">
                                                    <option value="0" disabled selected hidden>Bitte wählen</option>
                                                    <option value="0">Für Minderjährige</option>
                                                    <option value="18">Für Volljährige</option>
                                                </select>
                                            </div>
                                            <div class="input-box">
                                                <span class="details">Preiskategorie</span>
                                                <select id="price-cat" name="pricecat">
                                                    <option value="0" disabled selected hidden>Bitte wählen</option>
                                                    <option value="1">Preiswert</option>
                                                    <option value="3">Teuer</option>
                                                </select>
                                            </div>
                                            
                                            <div class="input-box" id="special-Type">
                                                <span class="details" id="special-Type-Descr"></span>
                                                <select id="special-Type-Values" name="specialcategory">
                                                
                                                </select>
                                            </div>
                                            <div class="input-box">
                                                <span class="details">Bild</span>
                                                <input type="file" accept="image/*" class="inputfile" name="picture"  id="file">
                                                <label for="file">Bild auswählen</label>
                                            </div>
 
                                            <div class="input-box">
                                                <span class="details">Event Beschreibung</span>
                                                <textarea name="description" id="" cols="40" rows="5"></textarea>
                                            </div>

                                            <div class="input-box">
                                                <span class="details">Startzeitpunkt</span>
                                                <input type="datetime-local" name="starttime" id="start" />
                                            </div>
                                            <div class="input-box">
                                                <span class="details">Endzeitpunkt</span>
                                                <input type="datetime-local" name="endtime" id="endtime" />
                                            </div>
                                            <div class="input-box">
                                                <span class="details">Intervall in Tagen</span>
                                                <input type="number" name="intervalInDays" id="intervalInDays" />
                                            </div>
                                            <div class="input-box">
                                                <span class="details">Bis wann?</span>
                                                <input type="date" name="until" id="until" />
                                            </div>
                                        </div>
                                       
                                        <div class="smoking-details">
                                            <input type="radio" name="smoking" id="dot-1" value="nosmoking">
                                            <input type="radio" name="smoking" id="dot-2" value="innersmoking">
                                            <input type="radio" name="smoking" id="dot-3" value="outersmoking">
                                            <span class="smoking-title">Raucher</span>
                                            <div class="category">
                                                <label for="dot-1">
                                                    <span class="dot one"></span>
                                                    <span class="smoking">Nicht-Raucher</span>
                                                </label>
                                                <label for="dot-2">
                                                    <span class="dot two"></span>
                                                    <span class="smoking">Rauchen</span>
                                                </label>
                                                <label for="dot-3">
                                                    <span class="dot three"></span>
                                                    <span class="smoking">Außenbereich</span>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="input-box">
                                            <span class="details">Sonstige Tags, durch Komma separieren</span>
                                            <textarea name="categories"  cols="90" rows="1"></textarea>
                                        </div>

                                        <div class="button-add-Event">
                                            <input type="submit" value="Hinzufügen">
                                        </div>
                                        </form>
                                    </div>
                                    
                                    
                                </div>                          
                            </div>
                        </div>
                        <!-- <div class="user-rating">
                            <h4 class="rating">4.5</h4>
                            <div class="rate">
                                <div class="stars">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <span class="no-user"><span>123</span>&nbsp;&nbsp;reviews</span>
                            </div>
                        </div>
                        
                        <div class="logout">
                            <form action="{% url 'ooh:logout' %}" method="get">
                                {% csrf_token %}
                                <input id="logout" class="logout-btn" type="submit" value="Abmelden" />
                            </form>
                        </div> -->
                    </div>
                </div>
               <div class="right-side">
                   <div class="nav-right">
                       <ul>
                           <li onclick="tabs(0)" class="user-post active" style="margin-bottom: 0em;  list-style-type: none;">Fragen</li>
                           <li onclick="tabs(1)" class="user-review" style="margin-bottom: 0em;list-style-type: none;">Reviews</li>
                           <li onclick="tabs(2)" class="user-setting" style="margin-bottom: 0em;list-style-type: none;">Einstellungen</li>
                       </ul>
                   </div>
                   <div class="profile-body">
                       <div class="profile-posts tab">
                           <h2>Fragen</h2>
                           
                            {% if noresult %}
                                <p>
                                    Wir können dich leider nicht einstufen, bitte beantworte die Fragen des <a href="{% url 'ooh:questions' 1 %}"> Eventfinders </a>.
                                </p>
                                <p>
                                    Vielleicht findest du aber <a href="{% url 'ooh:events' %}">passende Events in der Übersicht.</a>
                                </p>
                            {%else%}
                                <p>
                                Hey {{ user.firstname }}, wir stufen dich als eine/n {{ result }} ein. 
                                </p>
                                <p>
                                    {% if please_wait %}
                                    Deine Nachfrage können wir derzeit noch nicht decken. Vielleicht findest du aber <a href="{% url 'ooh:events' %}">passende Events in der Übersicht.</a>
                                    {%else%}
                                    Schau doch gleich mal nach <a href="{% url 'ooh:index' %}">deinen persönlichen Empfehlungen auf der Startseite</a> vorbei.
                                    {% endif %}
                                </p>
                                <p>
                                    Wenn dir die Vorschläge nicht gefallen, führe diesen <a href="{% url 'ooh:questions' 1 %}">Eventfinder</a> einfach noch mal durch.
                                </p>
                            {% endif %}
                       </div>
                       <div class="profile-review tab">
                           <h4>User Review</h4>
                           <p>Diese Funktion wird in Zukunft hinzugefügt.</p>
                        </div>
                        <div class="profile-setting tab">
                            <h2>Account Einstellungen</h2>
                            <h3>Profil vervollständigen</h3>
                            <form action="." id="form-change-user" method=POST>
                                {% csrf_token %}
                                <h1 style="margin-top: 1%;">Persönliche Daten</h1>
                                <div class="user-details">
                                    <div class="input-box">
                                        <span class="details">Vorname</span>
                                        <input type="text" name="firstname" placeholder="Vorname" required value="{{user.firstname}}">
                                    </div>
                                    <div class="input-box">
                                        <span class="details">Nachname</span>
                                        <input type="text" name="lastname" placeholder="Nachname" required value="{{user.lastname}}">
                                    </div>

                                    <div class="input-box">
                                        <span class="details">Geburtstag</span>
                                        <input type="date" name="birthday" id="birthday" value="{{user.birthday|date:'Y-m-d'}}"/>
                                    </div>
                                </div>
                                <h1 style="margin-top: 1%;">Wohnort</h1>
                                <div class="user-details">
                                    <div class="input-box">
                                        <span class="details">PLZ</span>
                                        <input type="text" placeholder="PLZ" name="plz" required value="{{user.location.plz}}">
                                    </div>
                                    <div class="input-box">
                                        <span class="details">Ortsname</span>
                                        <input type="text" name="cityname" placeholder="Ortsname" required value="{{user.location.cityname}}">
                                    </div>
                                    <div class="input-box">
                                        <span class="details">Straße</span>
                                        <input type="text" placeholder="Straße" name="street" required value="{{user.street}}">
                                    </div>
                                    <div class="input-box">
                                        <span class="details">Hausnummer</span>
                                        <input type="text" placeholder="Hausnummer" name="housenumber" required value="{{user.housenumber}}">
                                    </div>
                                </div>
                                <div class="button-add-Event">
                                    <input type="submit" value="Daten ändern">
                                </div>
                                </form>
                                
                            <h3>Eventfinder zurücksetzen</h3>
                            <form action="{% url 'ooh:resetquestions' %}" method="POST">
                                {%csrf_token%}
                                <input type="radio" name="submitdelete" id="submitdelete1" value="yes"required>
                                <label for="submitdelete1">Fragen zurücksetzen</label>
                                <br/>
                                <input type="radio" name="submitdelete" id="submitdelete2" value="no" checked>
                                <label for="submitdelete2">Fragen nicht zurücksetzen</label>
                                <br/>
                                <input type="submit" value="Fragenkatalog zurücksetzen">
                            </form>
                        </div>
                   </div>
               </div> 
            </div>
        </div>
    </div>
</div> <!-- #content -->


<script>
    
const locationType = $('#location');
    const specialType = $('#special-Type');
    const specialTypeDescr = $('#special-Type-Descr');
    const specialTypeValues = $('#special-Type-Values');
 
    specialType.hide();
 
    locationType.change(function(){
        if ( ($(this).val().toLowerCase() == "bar") || ($(this).val().toLowerCase() == "club") ) { 
            specialType.show();
            specialTypeDescr.text("Musik Genre");
            specialTypeValues.empty();
            specialTypeValues.append($('<option>').val('Option').text('Bitte wählen'));
            specialTypeValues.append($('<option>').val('techno').text('Techno'));
            specialTypeValues.append($('<option>').val('pop').text('Pop'));
            specialTypeValues.append($('<option>').val('rock').text('Rock'));
            specialTypeValues.append($('<option>').val('hip-Hop').text('Hip-Hop'));
        }else if( $(this).val().toLowerCase() == "restaurant" ){
            specialType.show();
            specialTypeDescr.text("Restauranttyp");
            specialTypeValues.empty();
            specialTypeValues.append($('<option>').val('Option').text('Bitte wählen'));
            specialTypeValues.append($('<option>').val('amerikanisch').text('Amerikanisch'));
            specialTypeValues.append($('<option>').val('europäisch').text('Europäisch'));
            specialTypeValues.append($('<option>').val('asiatisch').text('Asiatisch'));
            specialTypeValues.append($('<option>').val('afrikanisch').text('Afrikanisch'));
        }
    });
   
    document.addEventListener("DOMContentLoaded", function(event) { 
 
    let single = "Datei Ausgewählt";
    let multiple = "Datein Ausgewält";
 
    fileUploadStyling(single,multiple);
 
    })
 
    /* Die Funktion */
 
    function fileUploadStyling(single,multiple){
        let input = document.querySelectorAll("input[type=file]");
        for (let i = 0; i < input.length; i++) {
            var inputFile = input[i];
            inputFile.addEventListener('change',function(e){
 
                var label = this.nextElementSibling;
 
                if(this.files && this.files.length > 1){
                    label.innerHTML = this.files.length + ' ' + multiple;
                }else{
                    label.innerHTML = this.files[0].name + ' ' + single;
                }
            });
        }
    } 
 

    $('.nav-right ul li').click(function(){
        $(this).addClass("active").siblings().removeClass('active');
        })


        const tabBtn = document.querySelectorAll('.nav-right ul li');
        const tab = document.querySelectorAll('.tab');

        function tabs(panelIndex){
            tab.forEach(function(node){
                node.style.display = 'none';
            });
            tab[panelIndex].style.display = 'block';
        }
        tabs(0);

        let bio = document.querySelector('.bio');
        let bioOld = bio.innerText;

        function bioText(){
            bio.innerText = bio.innerText.substring(0, 100) + "...";
            bio.innerHTML += "&nbsp;" + "<span onclick='addLength()' id='see-more-bio'> [Mehr Anzeigen]</span>";
        }
        bioText();

        function addLength(){
            bio.innerHTML = bioOld;
            bio.innerHTML += "&nbsp;" + "<span onclick='bioText()' id='see-less-bio'> [Weniger Anzeigen]</span>";
        }
</script>

{%endblock%}    