{% extends 'ooh/base.html' %}
{% load static %}

{% block content %}
<div id=content>
    <div class="user-container-background">
        <div class="user-container">
            <div class="profile-header">
                <div class="profile-img">
                    <img src="./img/ryan.png" width="200" alt="">
                </div>
                <div class="profile-nav-info">
                    <h4 class="user-name">
                        Ryan Schwarzkopf
                    </h4>
                    <div class="address">
                        <p class="state">New York</p>
                        <span class="country"> USA</span>
                    </div>
    
                </div>
                <div class="profile-option">
                    <div class="notification">
                        <i class="fa fa-bell"></i>
                        <span class="alert-message">1</span>
    
                    </div>
                </div>
            </div>
            <div class="main-bd">
                <div class="left-side">
                    <div class="profile-side">
                        <p class="mobile-number">
                            <i class="fa fa-phone"></i>
                            123456789
                        </p>
                        <p class="user-mail">
                            <i class="fa fa-envelope"></i>
                            test@gmail.com
                        </p>
                        <div class="user-bio">
                            <h4>Bio</h4>
                            <p class="bio" id="bio">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi nostrum vero quaerat corrupti, consequuntur iste, odit, expedita sequi architecto esse fugiat magnam officiis molestiae totam libero ratione voluptate maxime. Nulla.
                            </p>
                        </div>
                        <div class="profile-btn">
                            <button class="chatbtn">
                                <i class="fa fa-comment"></i>Chat
                            </button>
                            <button class="createbtn">
                                <i class="fa fa-plus"></i>Create
                            </button>
                        </div>
                        <div class="user-rating">
                            <h4 class="rating">4.5</h4>
                            <div class="rate">
                                <div class="stars">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <span class="no-user"><span>123</span>&nbsp;&nbsp;reviews</span>
                            </div>
                        </div>
                    </div>
                </div>
               <div class="right-side">
                   <div class="nav-right">
                       <ul>
                           <li onclick="tabs(0)" class="user-post active">Posts</li>
                           <li onclick="tabs(1)" class="user-review">Reviews</li>
                           <li onclick="tabs(2)" class="user-setting">Settings</li>
                       </ul>
                   </div>
                   <div class="profile-body">
                       <div class="profile-posts tab">
                            <h4>Your Post</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore vero, accusamus iste impedit delectus sequi unde nostrum porro, dicta illum libero architecto quos neque esse provident. Assumenda a inventore voluptas!</p>
                       </div>
                       <div class="profile-review tab">
                           <h4>User Review</h4>
                           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus earum illo, maxime, magnam commodi temporibus consectetur soluta incidunt quas sequi repudiandae reprehenderit iusto recusandae officiis itaque nobis. Eum, ut ex.</p>
                        </div>
                        <div class="profile-setting tab">
                            <h4>Account Settings</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, quia sunt explicabo eveniet quod soluta nam nostrum ut tempore! Veritatis itaque repudiandae harum ex facilis. Doloribus ipsam a dolore unde!</p>
                        </div>
                   </div>
               </div> 
            </div>
        </div>
    </div>
</div> <!-- #content -->
{%endblock%}    