{% extends 'ooh/base.html' %}
{% load static %}


{% block content %}

<div class="qu-container">
    <div class="qu-box">
        <h3>{{ question.name }}</h3>
        <div id="choices" class="radio-buttons">
        <form id="einsNiceForm" action="{% url 'ooh:questions' 0 %}" method="POST">
            {% csrf_token %}
        {%comment%}
        {% for key, value in request.POST.items %}
            {% if key  != curquestionkey %}
                <input type="hidden" name="{{ key }}" value="{{ value }}">
            {% endif %}
        {% endfor %}
        {%endcomment%}
        {% for choice in question.question.all %}
            <label class="custom-radio">
                <input type="radio" name="q{{question.id}}" value="{{ choice.id }}" data-next="{% if choice.nextQuestion %}{{choice.nextQuestion.id}}{%else%}{{question.id}}{%endif%}" 
                     required {% if checkeditem == choice.id %} checked {% endif %}/>
                <span class="radio-btn">
                    <i class="fas fa-check"></i>
                    <div class="hobbies-icon">
                        <i class="{{ choice.class_names }}"></i>
                        <h4>{{ choice.text }}</h4>
                    </div>
                </span>
            </label>
        {% endfor %}
        </form>    
        </div>
        
        <div class="progress-container">
            <div id="progress-main">
                <!-- <p id="progress-content"  class="text-center">Step Number 1</p> -->
                <div class="">
                    <button class="progress-button" id="previousBtn" ><span>Zurück</span></button>
                </div>
                {%if not question.lastQuestion %}
                <div>
                    <button class="progress-button" id="nextBtn" ><span>Weiter</span></button>
                </div>
                {%endif%}
                <div>
                    <button class="finish-button" id="finishBtn" >Fertig</button>
                </div>
            </div>
           
        </div>
    </div>
    
</div>

<script type="text/javascript">  
    $(document).ready(function(){
        const  previousBtn  =  document.getElementById('previousBtn');
        const  nextBtn  =  document.getElementById('nextBtn');
        const  finishBtn  =  document.getElementById('finishBtn');
        const  content  =  document.getElementById('progress-content');
        // const  bullets  =  [...document.querySelectorAll('.bullet')];
        const prevpage = {% if prevquestion > 0 %} "{{prevquestion}}"; {% else %} "{{question}}";{% endif %}
        // let currentStep = {{question.id}};
        const MAX_STEPS = 6;

        previousBtn.addEventListener('click',  ()  =>  {
            _sel = $("input[type='radio'][name='q{{question.id}}']:checked").data('prev');
            sel  = parseInt(_sel, 10);
            if(typeof sel == 'number'){
                url = "{% url 'ooh:questions' 0 %}".slice(0, -1)+prevpage;
                document.getElementById("einsNiceForm").action = url;
                document.getElementById("einsNiceForm").submit();
            }else{
                console.log("Keine Auswahl getroffen oder keine Zahl hinterlegt");
                alert("Keine Auswahl getroffen oder keine Zahl hinterlegt");
            }
            
            // window.open(url+"", name="_self" );
            
        });
        {% if question.lastQuestion %}
        finishBtn.style.cursor = "pointer";
        finishBtn.style.border = "2px solid #ff6a00";
        finishBtn.style.color = "#ff6a00";
        // nextBtn.disabled  =  true;
        // finishBtn.disabled  =  false;
        finishBtn.addEventListener('click',  ()  =>  {
            // if  ({{question.lastQuestion|lower}})  {
                
                finishBtn.classList.add('finish-active');
                // $(this).addClass("finish-active");

                setTimeout(function(){
                    finishBtn.classList.add('finish-success');
                    // $(".finish-button").addClass("finish-success")
                }, 3000);

                setTimeout(function(){
                    finishBtn.classList.remove('finish-active');
                    // $(".finish-button").removeClass("finish-active");
                    finishBtn.classList.remove('finish-success');
                    // $(".finish-button").removeClass("finish-success");
                }, 5000);
                
                setTimeout(function(){
                    url = "{% url 'ooh:questionFinish'  %}";
                    document.getElementById("einsNiceForm").action = url;
                    document.getElementById("einsNiceForm").submit();
                }, 2000);
                
                // location.reload();   
            // }
        });
        {% else %}
        nextBtn.addEventListener('click',  ()  =>  {
            //Get Selection
            _sel = $("input[type='radio'][name='q{{question.id}}']:checked").data('next');
            sel  = parseInt(_sel, 10);
            if(typeof sel == 'number' && sel > 0){
                url = "{% url 'ooh:questions' 0 %}".slice(0, -1)+sel;
                document.getElementById("einsNiceForm").action = url;
                document.getElementById("einsNiceForm").submit();
            }else{
                console.log("Keine Auswahl getroffen oder keine Zahl hinterlegt");
                alert("Keine Auswahl getroffen oder keine Zahl hinterlegt");
            }
            
        });
        {% endif %}
        
    });
</script>

{% endblock %}